@use 'helpers/variables' as *;
@use 'helpers/mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  position: relative;
  background: $white;
  color: #333;
  font-size: 16px;
  &.lock {
    overflow: hidden;
  }
}

.hidden {
  display: none !important;
}
