# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/assets/index-6xR3UoeO.css
/dist/assets/index-Df9HAhNw.js
/dist/assets/index-Df9HAhNw.js.map
/dist/assets/tmp-DT_yWzxG.webp
/dist/assets/UArchery-DRWPI4rz.png
/dist/index.html
/dist/logo512.png
/dist/manifest.json
/dist/manifest.webmanifest
/dist/registerSW.js
/dist/robots.txt
/dist/sw.js
/dist/sw.js.map
/dist/workbox-c935b46f.js
/dist/workbox-c935b46f.js.map
