@use '../../sass/helpers/variables' as *;
@use '../../sass/helpers/mixins';

.menu {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  transition: all 0.3s;
  padding: 0 10% 0 0;

  &.right {
    left: auto;
    right: -100%;
    padding: 0 0 0 10%;
    position: fixed;
    &.active {
      left: auto;
      right: 0;
      transition: all 0.3s;
    }
  }

  &.active {
    left: 0;
    transition: all 0.3s;
  }

  .menu_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    padding: 16px 0;

    .menu_list {
      flex-direction: column;
      height: 100%;
      overflow: scroll;

      .menu_separator {
        margin: 8px 0;
      }

      li.menu-item-has-children {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:after {
          display: none;
        }
        .sub-menu {
          display: block;
          margin-left: 24px;
          position: relative;
          background: transparent;
          li {
            button {
              font-size: 16px;
              &:after {
                display: none;
              }
            }
          }
        }
      }
      li {
        button {
          padding: 16px 32px;
          font-size: 20px;
          color: $yellow;
          width: 100%;
          text-align: left;
          background: none;

          &.admin-menu-item {
            padding-left: 48px;
            font-size: 18px;
            color: #ffb347;
          }
        }
        &.current-menu-item {
          > button {
            color: $white;
            background: $blue;
            &:after {
              display: none;
            }
          }
        }
      }
    }

    .menu_footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 32px;
    }
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
